<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <h1>Body Mass Index</h1>
  <div id="app">
    <span>Waga: </span>
    <input type="text" v-model="weight"> kg<br>
    <span>Wzrost: </span>
    <input type="text" v-model="height"> cm <br>
    <p v-if="bmi">Wskaźnik BMI: {{ bmi }}</p>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        weight: null,
        height: null
      },
      computed: {
        bmi: function () {
          let height = parseInt(this.height) / 100;
          let weight = parseInt(this.weight);

          let bmi = weight / (height * height);

          return Math.floor(bmi * 100) / 100;
        }
      }
    });
  </script>

</body>

</html>